.grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.hero__item {
  outline: 1px solid rgba(255, 255, 255, 0.589);
  outline-offset: -5px;
  padding-inline: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}