.pagination {
  height: 38px;
}

.active-link button {
  background-color: #212529;
  color: #ced4da !important;
  transition: all 0.3s ease-in;
  cursor: default !important;
}

.page_item button {
  outline: 5px solid rgba(247, 9, 9, 0.589);
  outline-offset: -5px;
  transition: all 0.3s ease-in;
}

.page-item button:hover:not(.active-link button) {
  background-color: #ffbf00;
  color: #212529 !important;
}

nav > ul.pagination {
  padding-bottom: 25px;
}
