.form {
  width: 800px;
  display: grid;
  justify-items: start;
  align-items: start;
  margin-bottom: 20px;

  & label {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 25px);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & input,
    & select {
      width: 600px;
    }
  }

  & label > span {
    color: red;
  }
}
