.main {
  display: grid;
  grid-template-columns: 1fr auto;
  flex: 1 0 auto;
}

.card-link {
  padding: 10px;
  margin: 10px;
  width: 100%;
  background-color: #ced4da;
  border-radius: 10%;
  transition: all 0.3s ease-in;
}

.card-link:hover {
  border-radius: 50%;
  background-color: #ffbf00;
}
